.page.single {
	@include media("max", "sm") {
		width: 100%;
		margin-left: -$std-pd-md;
		padding-top: 0;

		& > .card:first-of-type {
			border-radius: 0;

			.single-item {
				& > .std-row {
					display: block;
				}

				.thumbnail {
					margin: auto;
					margin-bottom: $std-mg-md;
				}
			}
		}

		.relevant-items-render {
			.item-card {
				.genres {
					display: none;
				}

				.meta {
					margin-top: $std-mg-xsm;
				}
			}
		}
	}  
}